<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
     <!-- Bootstrap CSS CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../assets/stylesheets/style.css">

    

    <title>Home Page</title>
</head>

<body>
    <div id="page-container" style="height:100%;width:100%;">

        <div class="wrapper" style="width:19%">
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components" style="text-align:center;">
                    <li style="margin-bottom:10px;"> <a href="/dashboardAdmin"><img src="../assets/images/CaptureStudent.PNG" style="height: 100%;width: 100%;border-radius: 160px;" /></a>
                    </li>
                    <li style="margin-bottom:10px;">
                        <i class="fa fa-dashcube" style="font-size:35px;" aria-hidden="true"></i>
                        <a href="/dashboardAdmin">DashBoard</a>
                    </li>
                    <li style="margin-bottom:10px;">
                        <i class="material-icons" style="font-size:35px;">verified_user</i>
                        <a href="/verifyAdmin/getAll">Verification</a>
                    </li>
                    <li style="margin-bottom:10px;">
                        <i class="fa fa-tasks" style="font-size:35px;" aria-hidden="true"></i>
                        <a href="/taskAdmin/getAll">Tasks</a>
                    </li>
                    <li>
                        <i class="material-icons" style="font-size:35px;" >group_work</i>
                        <a href="/workshopAdmin/getAll">Workshop and Survey</a>
                    </li>
                    <li>
                        <i class="fa fa-info-circle" style="font-size:35px;" aria-hidden="true"></i>
                        <a href="/informationAdmin/getAll">Information</a>
                    </li>
                    <li>
                        <i class="fa fa-sign-out" style="font-size:35px;" aria-hidden="true"></i>
                        <a href="/">LogOut</a>
                    </li>
                </ul>
            </nav>

        </div>


        <!-- right side div--->
        <div style="height:100%; width:81%; background:white; float:right;">

            <p style="color:black; font-size:30px; align:center"><b> <i class="fa fa-dashcube" style="font-size:35px;" aria-hidden="true"></i> DashBoard</b></p>
            <hr>

            <p style="color:black; font-size:25px;"> <b>Student Statistics </b></p>

            <div style="height:300px; width:500px; background:white; float:left;">
                <p style="color:black; font-size:20px;">
                        The diagram here depits a summarized information of statistics like students comings for the following semester, number of students in task1, number of students in task 2.
                </p>

            </div>

            <div style="height:300px;width:500px; background-color:white; float:right;">
                <canvas id="taskChart" style="height:100%;width:100%;"></canvas>
            </div>



            <div style="height:300px;width:500px; background-color:white; float:left;">
                <canvas id="workshopChart" style="height:100%;width:100%;"></canvas>
            </div>

            <div style="height:300px; width:500px; background:white; float:right;">
                <p style="color:black; font-size:20px;margin-top:10%">
                        The diagram here depits a summarized information of statistics like total number of students attending the universityfor the following semester and would gi ve the total count bout the students in a particular survey or workshops attended by the student. Clicking on the piechrt would give data in tabular format for workshops</p>

            </div>


        </div>


    </div>
    
    
    <!---Modal starts--->
    
    <div class="modal" id="sendemailModal" tabindex="-1" role="dialog" aria-labelledby="exceptionInfo" aria-hidden="true" style="display:none!important;height:700px!important;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Send Email   <button type="button" class="close closeEmail" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button></h4>
                    <div id="tableData">
                    </div>
                    <div> <br><br><button type="button" class="btn btn-default closeEmail" style="float:right">Close
                    </button></div>
                </div>
            </div>
        </div>
    </div>
    
    <!---Modal ends--->
    
    
     <!---Modal starts--->
        <div class="modal" id="emailSent" tabindex="-1" role="dialog" aria-labelledby="emailSentInfo" aria-hidden="true" style="display:none!important;height:700px!important;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Email sent successfully   <button type="button" class="close closeSent" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button></h4>
                    <div id="headingMessage">
                    </div>
                    <div> <br><br><button type="button" class="btn btn-default closeSent" style="float:right">Close
                    </button></div>
                </div>
            </div>
        </div>
    </div>
    
    <!---Modal ends--->
    
    
    
       <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var totalNumber = <%=totalNumber%>;
            var taskdata = [<%= taskData%>];
            var tasklabels = '<%=tasklabels%>';
            var label = tasklabels.split(',');

            var workshopdata = [<%= workshopData%>];
            var workshoplabels = '<%=workshoplabels%>';
            var wlabel = workshoplabels.split(',');
            
            getTotalNumber(totalNumber);
            drawTaskChart(taskdata, label);
            drawWorkshopChart(workshopdata, wlabel);
            $("#taskChart").click(function(){
               tableTaskData(); 
            });
            $("#workshopChart").click(function(){
               tableWorkshopData(); 
            });
            
            $(".closeEmail").click(function(){
                  $("#sendemailModal").hide();
            });

            $(".closeSent").click(function(){
                  $("#emailSent").hide();
            });
            
        });
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../commonFunctions/loadDataChart.js" type="text/javascript"></script>


</body>

</html>